.terraform/*
/.idea/modules.xml
/.idea/vcs.xml
/modules/karpenter/.terraform/modules/karpenter/
/modules/karpenter/.terraform/modules/karpenter-crds/
/.idea/.gitignore
/modules/karpenter/.terraform/providers/registry.terraform.io/hashicorp/aws/5.54.0/darwin_arm64/LICENSE.txt
/modules/karpenter/.terraform/modules/modules.json
/terraform.tfstate.backup
/.idea/terraform-eks-karpenter.iml
/modules/karpenter/.terraform/providers/registry.terraform.io/hashicorp/aws/5.54.0/darwin_arm64/terraform-provider-aws_v5.54.0_x5
terraform.tfstate
terraform.tfstate.backup
/infra/env/dev/base/.terraform.lock.hcl
/infra/env/dev/base/terraform.tfstate
/infra/env/dev/base/terraform.tfstate.backup
/infra/env/dev/.terraform/
/infra/modules/ecr/.terraform/
/infra/modules/ecr/.terraform.lock.hcl
/infra/modules/**/.terraform/
/infra/modules/**/.terraform.lock.hcl
/application/Charts/app/charts/*.tgz
/application/Charts/app/Chart.lock
aws.xml
.idea/
application/sms/helm-charts/sms-app/charts/auth-service-0.1.0.tgz
application/sms/helm-charts/sms-app/charts/course-service-0.1.0.tgz
application/sms/helm-charts/sms-app/charts/frontend-0.1.0.tgz
application/sms/helm-charts/sms-app/charts/mongodb-0.1.0.tgz
application/sms/helm-charts/sms-app/charts/student-service-0.1.0.tgz
application/sms/helm-charts/sms-app/charts/auth-service/.helmignore
application/sms/helm-charts/sms-app/charts/auth-service/Chart.yaml
application/sms/helm-charts/sms-app/charts/auth-service/values.yaml
application/sms/helm-charts/sms-app/charts/auth-service/templates/_helpers.tpl
application/sms/helm-charts/sms-app/charts/auth-service/templates/deployment.yaml
application/sms/helm-charts/sms-app/charts/auth-service/templates/NOTES.txt
application/sms/helm-charts/sms-app/charts/auth-service/templates/service.yaml
application/sms/helm-charts/sms-app/charts/course-service/.helmignore
application/sms/helm-charts/sms-app/charts/course-service/Chart.yaml
application/sms/helm-charts/sms-app/charts/course-service/values.yaml
application/sms/helm-charts/sms-app/charts/course-service/templates/_helpers.tpl
application/sms/helm-charts/sms-app/charts/course-service/templates/deployment.yaml
application/sms/helm-charts/sms-app/charts/course-service/templates/NOTES.txt
application/sms/helm-charts/sms-app/charts/course-service/templates/service.yaml
application/sms/helm-charts/sms-app/charts/frontend/.helmignore
application/sms/helm-charts/sms-app/charts/frontend/Chart.yaml
application/sms/helm-charts/sms-app/charts/frontend/values.yaml
application/sms/helm-charts/sms-app/charts/frontend/templates/_helpers.tpl
application/sms/helm-charts/sms-app/charts/frontend/templates/deployment.yaml
application/sms/helm-charts/sms-app/charts/frontend/templates/ingress.yaml
application/sms/helm-charts/sms-app/charts/frontend/templates/NOTES.txt
application/sms/helm-charts/sms-app/charts/frontend/templates/service.yaml
application/sms/helm-charts/sms-app/charts/mongodb/.helmignore
application/sms/helm-charts/sms-app/charts/mongodb/Chart.yaml
application/sms/helm-charts/sms-app/charts/mongodb/values.yaml
application/sms/helm-charts/sms-app/charts/mongodb/templates/_helpers.tpl
application/sms/helm-charts/sms-app/charts/mongodb/templates/NOTES.txt
application/sms/helm-charts/sms-app/charts/mongodb/templates/service.yaml
application/sms/helm-charts/sms-app/charts/mongodb/templates/statefulset.yaml
application/sms/helm-charts/sms-app/charts/student-service/.helmignore
application/sms/helm-charts/sms-app/charts/student-service/Chart.yaml
application/sms/helm-charts/sms-app/charts/student-service/values.yaml
application/sms/helm-charts/sms-app/charts/student-service/templates/_helpers.tpl
application/sms/helm-charts/sms-app/charts/student-service/templates/deployment.yaml
application/sms/helm-charts/sms-app/charts/student-service/templates/NOTES.txt
application/sms/helm-charts/sms-app/charts/student-service/templates/pvc.yaml
application/sms/helm-charts/sms-app/charts/student-service/templates/service.yaml
/application/sms/auth-service/node_modules/
/application/sms/course-service/node_modules/
/application/sms/student-service/node_modules/
