/infra/envs/dev/terraform.tfstate
/infra/envs/dev/terraform.tfstate.backup
/infra/dev/.terraform/*
/infra/envs/dev/.terraform/modules/modules.json
/.idea/.gitignore
/infra/envs/dev/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.14.0/darwin_arm64/LICENSE
/infra/envs/dev/.terraform/providers/registry.terraform.io/hashicorp/aws/5.61.0/darwin_arm64/LICENSE.txt
/infra/envs/dev/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.31.0/darwin_arm64/LICENSE.txt
/infra/envs/dev/.terraform/providers/registry.terraform.io/hashicorp/helm/2.14.0/darwin_arm64/LICENSE.txt
/application/student-service/.idea/
/application/student-service/.mvn/
/application/student-frontend/.idea/
/application/student-frontend/.idea/
/infra/modules/*/.terraform
 **/.terraform/*