// Custom theme variables
$primary: #2a9d8f;
$secondary: #6c757d;
$success: #38b000;
$info: #0096c7;
$warning: #ffb703;
$danger: #e63946;
$light: #f8f9fa;
$dark: #264653;

// Import Bootstrap
@import "~bootstrap/scss/bootstrap";